---

---

<section class="bg-solution">
    <aside class="py-8 mx-4">
        <p class="font-grotesk font-semibold text-2xl leading-6 text-slate-100  w-[85%] mb-9">
            Soluciones a medida, diseñadas especialmente para ti
        </p>

        <hr class="border-1 border-header-lime">
    </aside>
</section>
